<table class="table table-striped table-bordered table-hover">
    <thead class="thead-inverse">
        <tr>
            <th class="text-center">Avatar</th>
            <th class="text-center">Name</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center"><img class="avatar" src="https://randomuser.me/api/portraits/lego/1.jpg" alt="avatar"></td>
            <td class="text-center">palmeiro</td>
            <td >
                <div class="table-icon-box">
                    <div class="table-icon"><a href="#"><i class="fas fa-user-minus"></i></a></div>
                    <div class="table-icon"><a href="#"><i class="fas fa-user-edit"></i></a></div>
                </div>
            </td>
        </tr>
        <tr>
                <td class="text-center"><img class="avatar" src="https://randomuser.me/api/portraits/lego/2.jpg" alt="avatar"></td>
                <td class="text-center">palmeiro</td>
                <td >
                    <div class="table-icon-box">
                        <div class="table-icon"><a href="#"><i class="fas fa-user-minus"></i></a></div>
                        <div class="table-icon"><a href="#"><i class="fas fa-user-edit"></i></a></div>
                    </div>
                </td>
            </tr>
            <tr>
                    <td class="text-center"><img class="avatar" src="https://randomuser.me/api/portraits/lego/3.jpg" alt="avatar"></td>
                    <td class="text-center">palmeiro</td>
                    <td >
                        <div class="table-icon-box">
                            <div class="table-icon"><a href="#"><i class="fas fa-user-minus"></i></a></div>
                            <div class="table-icon"><a href="#"><i class="fas fa-user-edit"></i></a></div>
                        </div>
                    </td>
                </tr>
                <tr>
                        <td class="text-center"><img class="avatar" src="https://randomuser.me/api/portraits/lego/4.jpg" alt="avatar"></td>
                        <td class="text-center">palmeiro</td>
                        <td >
                            <div class="table-icon-box">
                                <div class="table-icon"><a href="#"><i class="fas fa-user-minus"></i></a></div>
                                <div class="table-icon"><a href="#"><i class="fas fa-user-edit"></i></a></div>
                            </div>
                        </td>
                    </tr>
    </tbody>
</table>