<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <header class="text-center">
        <h1>User App Web Application</h1>
        <h2>Angular/bootstrap</h2>
      </header>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <app-list-user></app-list-user>
    </div>
  </div>
  <footer class="text-center">
    <div class="row">
      <div class="col-lg-12">
        <label>Developed by Leonardo Palmeiro</label>
      </div>
    </div>
    <div class="row">
      <div class="social-media-box">
        <div class="icon-social-media">
          <a href="tel:+84787080399">
            <i class="fa fa-phone" aria-hidden="true"></i>
          </a>
        </div>
        <div class="icon-social-media">
          <a href="maito:palmeiro.leonardo@gmail.com">
            <i class="fa fa-at"></i>
          </a>
        </div>
        <div class="icon-social-media">
          <a href="https://www.linkedin.com/in/leonardo-palmeiro-834a1755" target="_blank">
            <i class="fab fa-linkedin    "></i>
          </a>
        </div>
        <div class="icon-social-media">
          <a href="https://palmeiro.000webhostapp.com" target="_black">
            <i class="fa fa-globe" aria-hidden="true"></i>
          </a>
        </div>
        <div class="icon-social-media">
          <a href="https://github.com/leopalmeiro" target="_black">
            <i class="fab fa-github" aria-hidden="true"></i>
          </a>
        </div>
        <div class="icon-social-media">
          <a href="https://codepen.io/Palmeiro" target="_black">
            <i class="fab fa-codepen" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </footer>
</div>